{% extends 'base.html' %}
{% block content %}


<div class="flex flex-col md:flex-row justify-between items-start sm:items-center gap-4 mb-6">
  <h1 class="text-xl md:text-2xl font-bold">📅 Event List</h1>
  <div class="flex justify-end w-full md:w-auto">
    <a href="{% url 'event_create' %}" class="btn-primary">
    <i class="fa-solid fa-circle-plus me-2"></i> Add Event
  </a>
  </div>
</div>

{% comment %} - Event Table  {% endcomment %}
<div class="overflow-x-auto bg-white shadow rounded-lg">
  <table class="w-full table-auto text-left">
    <thead class="bg-gray-100 text-gray-700 text-sm md:text-base">
      <tr>
        <th class="px-4 py-3">Name</th>
        <th class="px-4 py-3">Category</th>
        <th class="px-4 py-3">Date</th>
        <th class="px-4 py-3">Time</th>
        <th class="px-4 py-3">Location</th>
        <th class="px-4 py-3">Participants</th>
        <th class="px-4 py-3 text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr class="border-t hover:bg-gray-50 text-sm md:text-base">
        <td class="px-4 py-3 font-medium">{{ event.name }}</td>
        <td class="px-4 py-3">{{ event.category.name }}</td>
        <td class="px-4 py-3">{{ event.date }}</td>
        <td class="px-4 py-3">{{ event.time }}</td>
        <td class="px-4 py-3">{{ event.location }}</td>
        <td class="px-4 py-3">{{ event.rsvps.count }}</td>
        <td class="px-4 py-3 text-right flex space-x-4">
            <a href="{% url 'event_update' event.pk %}" class="text-blue-600 hover:underline">Edit</a>
            <form action="{% url 'event_delete' event.pk %}" method="POST" class="inline-block ml-2" onsubmit="return confirm('Delete this event?');">
                {% csrf_token %}
                <button type="submit" class="text-red-600 hover:underline">Delete</button>
            </form>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center py-4 text-gray-500">No events found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


