{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
    
  </head>
  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">

    {% if user.is_authenticated %}
      {% include "auth_navbar.html" %}
    {% else %}
      {% include "guest_navbar.html" %}
    {% endif %}

    {% comment %} Main Content {% endcomment %}
    <main class="container mx-auto px-6 py-4 flex-grow">
      {% if messages %}
      <div class="space-y-3 mb-6">
        {% for message in messages %}
        <div
          class="flex justify-between items-center px-4 py-3 rounded shadow-md text-white {% if 'success' in message.tags %} bg-green-500 {% elif 'error' in message.tags %} bg-red-500 {% else %} bg-blue-500 {% endif %}"
        >
          <span>{{ message }}</span>
          <button onclick="this.parentElement.remove()" class="text-lg hover:text-gray-200">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

    {% comment %} JavaScript {% endcomment %}
    <script>
      const toggleBtn = document.getElementById("mobile-menu-toggle");
      const dropdown = document.getElementById("mobile-dropdown");

      toggleBtn.addEventListener("click", () => {
        dropdown.classList.toggle("hidden");
      });

      // Close dropdown when a link is clicked (for mobile UX)
      dropdown.querySelectorAll("a").forEach((link) => {
        link.addEventListener("click", () => dropdown.classList.add("hidden"));
      });
    </script>
  </body>
</html>

