{% extends 'guest.html' %}
{% load static %}
{% block title %}Event Management{% endblock title %}
{% block content %}



{% comment %} Hero Section -{% endcomment %}
<section
  class="relative bg-cover bg-center bg-no-repeat py-20 text-center animate-fadeIn h-[300px] md:h-[400px]"
  style="background-image: url('{% static 'images/hero.jpg' %}');"
>
  <div class="absolute inset-0"></div> 
  
</section>

{% comment %} Search & Filters -{% endcomment %}
<section class="py-10 bg-gray-100">
  <div class=" mx-auto">
    <form method="get" class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <input type="text" name="q" placeholder="Search by name or location"
             class="border border-primary px-4 py-2 rounded-lg shadow-sm ring-primary focus:outline-none focus:ring-2 focus:ring-opacity-50" value="{{ search }}">
      <select name="category" class="border border-primary px-4 py-2 rounded-lg shadow-sm ring-primary focus:outline-none focus:ring-2 focus:ring-opacity-50">
        <option value="">All Categories</option>
        {% for cat in categories %}
          <option value="{{ cat.id }}" {% if cat.id|stringformat:"s" == selected_category %}selected{% endif %}>
            {{ cat.name }}
          </option>
        {% endfor %}
      </select>
      <input type="date" name="date_from" class="border border-primary px-4 py-2 rounded-lg shadow-sm ring-primary focus:outline-none focus:ring-2 focus:ring-opacity-50" value="{{ date_from }}">
      <input type="date" name="date_to" class="border border-primary px-4 py-2 rounded-lg shadow-sm ring-primary focus:outline-none focus:ring-2 focus:ring-opacity-50" value="{{ date_to }}">
      <button type="submit" class="bg-primary-gradient text-white px-4 py-2 rounded hover:bg-primary-gradient-reverse transition-colors">
        Filter
      </button>
    </form>
  </div>
</section>

{% comment %} All Events -{% endcomment %}
<section class="py-12">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for event in events %}
      <div class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition">
        {% if event.asset %}
          <img
            src="{{ event.asset.url }}"
            alt="Task Asset"
            class="h-48 w-full object-cover"
          />
        {% else %}
          <p class="text-gray-500 italic">No asset found!</p>
        {% endif %}

        <div class="p-6">
          <h3 class="text-2xl font-semibold mb-2">{{ event.name }}</h3>
          <p class="text-sm text-gray-600 mb-1"><i class="fa-solid fa-calendar-days me-2"></i>{{ event.date }} at {{ event.time }}</p>
          <p class="text-sm text-gray-600 mb-1"><i class="fa-solid fa-location-dot me-2 text-primary"></i> {{ event.location }}</p>
          <p class="text-sm text-gray-600 mb-3">Category: {{ event.category.name }}</p>
          <p class="text-sm text-gray-600 mb-4">{{ event.rsvps.count }} participants</p>

          <!-- Action Buttons -->
          <div class="flex gap-x-5 items-center mt-4">
             {% if user.is_authenticated %}
              <form method="POST" action="{% url 'rsvp_event' event.id %}">
                {% csrf_token %}
                <button type="submit" class="bg-primary-gradient text-white px-4 py-2 rounded hover:bg-primary-gradient-reverse transition-colors">
                  RSVP
                </button>
              </form>
            {% else %}
              <a href="{% url 'sign-in' %}" class="bg-primary-gradient text-white px-4 py-2 rounded hover:bg-primary-gradient-reverse transition-colors">
                RSVP
              </a>
            {% endif %}
            
            <a href="{% url 'event_detail' event.pk %}" class="btn-outline ">Details</a>
            
          </div>
        </div>
      </div>

    {% empty %}
    <p class="text-center text-gray-600 col-span-full">No events found.</p>
    {% endfor %}
  </div>
</section>




{% endblock %}
