{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">
</head>
<body>
    <p class="bg-gray-100">This is the about page of the event management system.</p>
    <p class="text-3xl">Use the navigation menu to explore different sections.</p>
    
</body>
</html>