
{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} Hero Section {% endcomment %}
{% comment %} <section
  class="relative bg-cover bg-center bg-no-repeat py-20 text-center animate-fadeIn h-[300px] md:h-[400px]"
  style="background-image: url('{% static 'images/hero.jpg' %}');"
>
  <div class="absolute inset-0 bg-primary-500/60"></div> 
  
</section> {% endcomment %}

{% comment %} Event Details {% endcomment %}
<section class="max-w-4xl mx-auto py-6 px-4 bg-white rounded-lg shadow-lg mt-4">
  <p class="mb-2 text-primary text-sm">
    <i class="fa-solid fa-layer-group me-2"></i>
    {{ event.category.name }} category
  </p>
  <h2 class="text-3xl font-bold text-gray-800 mb-4">{{ event.name }}</h2>
  <div class="mb-6">
    <img src="{{ event.image_url|default:'/static/images/hero.jpg' }}" alt="{{ event.name }}" class="w-full h-64 object-cover rounded-md shadow-md">
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-gray-700">
    <div>
      <h3 class="text-xl font-semibold mb-2">Event Details</h3>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Time:</strong> {{ event.time }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      
    </div>
    <div>
      <h3 class="text-lg font-semibold mb-2">Participants ({{ event.participants.count }})</h3>
      {% if event.participants.all %}
      <ul class="list-disc list-inside max-h-48 overflow-auto">
        {% for participant in event.participants.all %}
          <li>{{ participant.name }} </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No participants yet.</p>
      {% endif %}
      <div class="mt-4 ">
        <a href="{% url 'join_event' event.pk %}" class="bg-primary-gradient text-white px-4 py-2 rounded hover:bg-primary-gradient-reverse transition-colors">Participate</a>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3 class="text-lg font-semibold mb-1">Description : </h3>
    <p class="text-gray-600">{{ event.description|default:"No description available." }}</p>
  </div>

  
</section>

{% endblock %}
