{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body class="">
    <h1>Welcome to the Event Management System</h1>
    <p>This is the home page of the event management system.</p>
    <p>Use the navigation menu to explore different sections.</p>
    
    <nav>
        <ul>
            <li><a href="">Events</a></li>
            <li><a href="">Create Event</a></li>
            <li><a href="">Search Events</a></li>
        </ul>
    </nav>
    <h2>Recent Events</h2>
    

    <footer>
        <p>&copy; 2023 Event Management System</p>
    </footer>
</body>
</html>