{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">
</head>
<body class="">
    <h1 class="text-3xl font-bold underline">Welcome to the Event Management System</h1>
    <p class="bg-gray-100">This is the home page of the event management system.</p>
    <p class'text-3xl'>Use the navigation menu to explore different sections.</p>
    
    <nav >
        <ul>
            <li><a href="">Events</a></li>
            <li><a href="">Create Event</a></li>
            <li><a href="">Search Events</a></li>
        </ul>
    </nav>
    <h2>Recent Events</h2>
    

    <footer>
        <p>&copy; 2023 Event Management System</p>
    </footer>
</body>
</html>